SaberHacerArq/WebContent/wsdl/UsuarioServicioImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicio.uan.edu.co" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicio.uan.edu.co" xmlns:intf="http://servicio.uan.edu.co" xmlns:tns1="http://modelo.usuarios.uan.edu.co" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicio.uan.edu.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.usuarios.uan.edu.co"/>
   <element name="agregarUsuario">
    <complexType>
     <sequence>
      <element name="user" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="agregarUsuarioReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarUsuario">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="borrarUsuarioReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerUsuario">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerUsuarioResponse">
    <complexType>
     <sequence>
      <element name="obtenerUsuarioReturn" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.usuarios.uan.edu.co" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Usuario">
    <sequence>
     <element name="apellido" nillable="true" type="xsd:string"/>
     <element name="estadocivil" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:long"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="sexo" nillable="true" type="xsd:string"/>
     <element name="telefono" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="agregarUsuarioResponse">

      <wsdl:part element="impl:agregarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="borrarUsuarioResponse">

      <wsdl:part element="impl:borrarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarUsuarioRequest">

      <wsdl:part element="impl:agregarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerUsuarioResponse">

      <wsdl:part element="impl:obtenerUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerUsuarioRequest">

      <wsdl:part element="impl:obtenerUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="borrarUsuarioRequest">

      <wsdl:part element="impl:borrarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UsuarioServicioImpl">

      <wsdl:operation name="agregarUsuario">

         <wsdl:input message="impl:agregarUsuarioRequest" name="agregarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:agregarUsuarioResponse" name="agregarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="borrarUsuario">

         <wsdl:input message="impl:borrarUsuarioRequest" name="borrarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:borrarUsuarioResponse" name="borrarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerUsuario">

         <wsdl:input message="impl:obtenerUsuarioRequest" name="obtenerUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerUsuarioResponse" name="obtenerUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UsuarioServicioImplSoapBinding" type="impl:UsuarioServicioImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="agregarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="agregarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="agregarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="borrarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="borrarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="borrarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsuarioServicioImplService">

      <wsdl:port binding="impl:UsuarioServicioImplSoapBinding" name="UsuarioServicioImpl">

         <wsdlsoap:address location="http://localhost:8080/usuarios/services/UsuarioServicioImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
